<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <link rel="stylesheet" media="screen" href = "static/css/bootstrap.min.css">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body class = "body">
  <div id="content">
    <a class="btn btn-default" href="{{ url_for('decode') }}">Decode</a>
    <a class="btn btn-default" href="{{ url_for('encode') }}">Encode</a>
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2016 by <a href="https://github.com/shuvroguha">Shuvro Guha</a>
    {% endblock %}
  </div>
</html>
